<p-dialog 
  header="Seleccionar Cliente" 
  [visible]="visible()" 
  (visibleChange)="onClose()"
  [modal]="true" 
  [style]="{ width: '450px' }" 
  [draggable]="false" 
  [resizable]="false"
>
  <div class="search-modal-content">
    <div class="search-input-wrapper">
      <input 
        pInputText 
        type="text" 
        [ngModel]="searchText()" 
        (ngModelChange)="searchText.set($event)" 
        placeholder="Buscar por nombre o NUI..." 
      />
    </div>

    <!-- Loading -->
    @if (loading()) {
      <p class="status-msg">Cargando clientes...</p>
    }

    <!-- List -->
    @if (!loading()) {
      <ul class="client-list">
        @for (client of filteredClients(); track client.id) {
          <li (click)="selectCustomer(client)" class="client-item">
            <div class="client-info">
              <p class="client-fullname">{{ client.firstName }} {{ client.lastName }}</p>
              <p class="client-email-text">{{ client.email }}</p>
            </div>
            <span class="select-arrow-label">Seleccionar <i class="pi pi-chevron-right"></i></span>
          </li>
        }
      </ul>
    }
  </div>

  <ng-template pTemplate="footer">
    <p-button label="Cancelar" severity="secondary" [text]="true" (onClick)="onClose()"></p-button>
  </ng-template>
</p-dialog>